
.body{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 2%;
    gap: 15px;
}
.blogBox{
    background: linear-gradient(rgb(15, 71, 107)0%,rgb(68, 86, 69)100%);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    height: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body img{
    height: 50Vh;
    width: 50vw;
    padding-top: 4%;
    border-radius: 20px;
    padding-bottom: 2%;
}
.body .title{
    color: white;

}
.body .name{
    font-size: 25px;
    color: rgb(185, 17, 62);
}
.body .description{
    font-size: 25px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    color: black;
}
.blogBox h1 {
    margin: 0; /* Remove any margin between elements */
    padding: 10px; /* Remove any padding */
}
.blogBox p{
    margin: 0;
    padding: 10px;
}